メールアドレス認証のお知らせ

CateiruSSOをご利用いただきありがとうございます。
以下のURLを押してメールアドレスを認証してください。

{{.VerifyURL}}

* このURLの有効時間は30分です。


### ご登録の覚えがないのにこのメールが届いたという方 ###

ご迷惑をおかけし申し訳ありません。大変お手数ですが下記フォームまでご連絡をお願いいたします。

https://cateiru.com/contact?title=%E7%99%BB%E9%8C%B2%E3%81%97%E3%81%9F%E8%A6%9A%E3%81%88%E3%81%8C%E3%81%AA%E3%81%84%E3%81%AB%E8%AA%8D%E8%A8%BC%E3%83%A1%E3%83%BC%E3%83%AB%E3%81%8C%E5%B1%8A%E3%81%84%E3%81%9F
